$break-width: 860px;
$nav-height: 50px;
$color-main: #0d47a1;
$color-danger: #e91e63;

@mixin no-select {
	-webkit-user-select: none;
	user-select: none;
}

@keyframes app-timer-pulsate {
	0%, 100% {
		box-shadow: 0 0 5px 2px lighten($color-main, 20%);
	}

	50% {
		box-shadow: 0 0 5px 2px lighten($color-main, 40%);
		transform: scale(1.3);
	}
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	height: 100%;
	background-color: #f7f7f7;
	overscroll-behavior: none;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body, input, textarea, button, select {
	font-family: "Segoe UI", Roboto, Arial, Ubuntu, Roboto, sans-serif;
}

/* hide arrows on number inputs */
input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
/* end: hide arrows on number inputs */

input {
	border: 1px solid #777;
	background: #fff;
	padding: .3rem;
	box-shadow: 0 0 3px rgba(#000, .2);
	border-radius: 3px;
	width: 100%;
	display: block;

	&:active, &:focus, &:hover {
		box-shadow: 0 0 3px 1px rgba($color-main, .2);
		outline: 0;
	}
}

button {
	border: 0;
	min-width: 6rem;
	background-color: $color-main;
	color: #fff;
	outline: 0;
	padding: .4rem .75rem;
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 1px 1px 2px rgba(#000, .1);
	transition: .2s box-shadow;

	&:hover, &:focus, &:active {
		box-shadow: 1px 1px 2px 1px rgba(#000, .3);
	}

	&.button-danger {
		background-color: $color-danger;
	}
}

.container {
	max-width: 95%;
	width: $break-width;
	margin: 0 auto;
	overflow: hidden;

	&.container-nav {
		margin-top: ($nav-height + $nav-height/2);
		margin-bottom: ($nav-height/2);
	}
}

nav {
	background-color: $color-main;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $nav-height;
	box-shadow: 0 0 3px 2px rgba(#000, .4);
	@include no-select;
	z-index: 1;

	&>.container {
		display: flex;
		max-width: 100%;
	}

	.nav-brand {
		margin: 0;
		flex: 1 1 0%;
		white-space: nowrap;
		padding: 0 1rem 0 .25rem;
		height: $nav-height;
		line-height: $nav-height;
		color: #fff;
		text-shadow: 1px 1px 0 rgba(#000, .2);
		cursor: default;
		font-weight: normal;
		font-size: 1.25rem;

		&>.icon-js {
			margin-right: .25em;
		}
	}

	.nav-menu {
		list-style-type: none;
		padding: 0;
		margin: 0;
		flex: 1 1 100%;
		display: flex;
		justify-content: flex-end;

		&>li {
			display: inline-block;
			height: $nav-height;

			&>a {
				display: block;
				height: $nav-height;
				line-height: $nav-height;
				text-decoration: none;
				color: #fff;
				padding: 0 1rem;
				transition: .1s background-color;

				&:hover {
					background-color: lighten($color-main, 10%);
				}
			}
		}
	}

	#app-timer {
		position: absolute;
		height: 5px;
		background: lighten($color-main, 20%);
		box-shadow: 0 0 1px rgba(#000, .3);
		border-radius: 0 5px 5px 0;
		transition: 1s width linear;
		border: 0 solid $color-main;
		border-width: 0 1px 1px 0;
		width: 100%;
		will-change: width;
		z-index: 2;

		display: flex;
		justify-content: flex-end;

		&::after {
			content: " ";
			display: block;
			width: 8px;
			height: 8px;
			background: #fff;
			border-radius: 50%;
			margin: -2px -5px 0 0;

			animation: 2s app-timer-pulsate linear infinite;
			will-change: transform, box-shadow;
		}
	}
}

form {
	.form-field {
		display: flex;
		margin: 1em 0;

		& > * {
			flex: 1 1 50%;
		}

		label {
			line-height: 1.75;
			cursor: pointer;
		}
	}
}

.card {
	--card-swipe-x: 0px;

	background-color: #fff;
	padding: .2rem;
	border: 1px solid rgba(#000, .2);
	border-bottom-width: 0;
	height: 100%;
	transition: .1s border-color, .3s height, .05s transform;
	@include no-select;
	position: relative;
	-webkit-tap-highlight-color: rgba(#fff, 0);
	transform: translate(var(--card-swipe-x), 0);

	display: grid;
	grid-template-columns: 64px 1fr 32px;
	grid-template-rows: auto auto auto;
	grid-template-areas: "image title delete" "image account ." "image code .";

	&:last-child {
		border-bottom-width: 1px;
	}

	@media all and (min-width: $break-width) {
		grid-template-columns: 128px 1fr 32px;
	}

	.card-image {
		width: 64px;
		min-height: 64px;
		display: flex;
		justify-content: center;
		align-items: center;
		grid-area: image;
		padding: 0 .5rem 0 0;

		&>img {
			width: 100%;
			height: auto;
			padding: .5em;
		}
	}

	@media all and (min-width: $break-width) {
		.card-image {
			width: 128px;
			min-height: 128px;

			&>img {
				padding: 1.5em;
			}
		}
	}

	max-width: 100%;
	overflow: hidden;

	h2 {
		grid-area: title;
		margin: .75rem 0 .25rem 0;
	}

	p {
		margin: 0;
	}

	p, h2 {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 1.25rem;
	}

	.card-token {
		font-size: 1.5rem;
		font-weight: bold;
		color: $color-main;
		margin: 0 0 .5rem 0;
		grid-area: code;
	}

	.class-subtext {
		color: lighten(#000, 50%);
		font-size: 1.15rem;
		margin: 0 0 .5rem 0;
		grid-area: account;
	}

	.button-del-float {
		grid-area: delete;
		width: 32px;
		height: 32px;
		background: transparent;
		border: 0;
		box-shadow: none;
		min-width: 0;
		color: $color-main;
		transition: .1s color, .1s background-color, .1s opacity;
		padding: 0;
		border-radius: 50%;
		display: none;
		justify-content: center;
		align-items: center;
		text-shadow: none;

		@media (hover: hover) and (pointer: fine) {
			opacity: 0;
			display: flex;
		}

		&:hover {
			color: #fff;
			background: $color-danger;
		}
	}

	&:hover .button-del-float {
		opacity: 1;
	}
}

#message {
	background-color: #000;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	opacity: 0;
	transition: .01s visibility, .2s opacity, .2s height, .2s transform;
	transform: translate(0, 100%);
	@include no-select;

	#message-inner {
		padding: .75em 0;
	}

	&.show {
		opacity: 1;
		transform: none;
	}
}

.icon-js {
	width: 1.75em;
	height: 1.75em;
	display: inline-block;
	padding: .2em;
	fill: #fff;
	vertical-align: middle;

	&>svg, &>img {
		width: 100%;
		height: 100%;
		display: block;
	}
}

.modal {
	align-items: center;
	justify-content: center;
	display: none;
	opacity: 0;
	transition: .1s opacity;
	z-index: 3;

	&.show {
		display: flex;
		opacity: 1;
	}

	button.modal-close {
		background: $color-danger;
		color: #fff;
		border: 0;
		padding: .5em 1em;
		float: right;
		outline: 0;
		min-width: 0;
	}

	&, &>.modal-backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(120, 120, 120, .7);
	}

	&>.modal-wrapper {
		@extend .container;
		background: #fff;
		z-index: 1;
		box-shadow: 1px 1px 5px 1px rgba(#000, .2);

		&>.modal-title-bar {
			padding: 1rem;
			background: $color-main;
			color: #fff;
			margin: 0 0 1rem 0;
		}

		&>.modal-body {
			padding: 0 1rem 1rem 1rem;
		}
	}
}

#sync-modal {
	.alpha-disclaimer,
	.alpha-disclaimer a,
	.note-danger
	{
		color: mix(#fff, $color-danger, 20%);
	}

	#sync-tab-export, #sync-tab-import, #sync-tab-debug {
		display: none;
	}

	#sync-tab-export-code {
		font-size: 2em;
		font-weight: bold;
	}

	.sync-prompt {
		background: #eee;
		border: 1px solid #aaa;
		padding: 1em;
		border-radius: 3px;

		&>div {
			margin: 1rem 0 0 0;
		}
	}

	.note {
		margin-top: 0;
		font-size: .8em;
		color: #666;
	}
}

.splash-empty {
	font-size: 1.8em;
	text-align: center;

	.icon-js {
		width: 4em;
		height: 4em;
	}
}
